spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    loadbalancer:
      cache:
        ttl: 10s
      configurations: health-check
      health-check:
        interval: 10s
        path:
          default: /actuator/health
        refetch-instances: true

    gateway:
      httpclient:
        ssl:
          use-insecure-trust-manager: true
        connect-timeout: 5000
        pool:
          type: fixed
          eviction-interval: 10
          max-connections: 500
          acquire-timeout: 5
          max-idle-time: 15s
      #TODO: 지금은 전부다 허용하지만 추후 application 별로 cors 정책을 다르게 가져간다.
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            exposed-headers:
              - "Set-Cookie"
      default-filters:
        - AddRequestHeader=X-Request-ID, ${random.uuid}
        - name: AuthenticateGrpcFilter
      routes:
        - id: auth-server-route
          uri: lb://${network.services.auth.name}
          filters:
            - SetRequestHeader=Host, auth.platformholder.site
          predicates:
            - Host=woo-auth.duckdns.org,auth.platformholder.site
        - id: bbr-backend-route
          uri: lb://${network.services.bbr.name}
          predicates:
            - Host=wooyoung.duckdns.org
        - id: fmp-backend-route
          uri: lb://${network.services.fmp.name}
          predicates:
            - Host=find-my-pet.duckdns.org
        - id: oauth-route
          uri: lb://${network.services.auth.name}
          filters:
            - SetRequestHeader=Host, auth.platformholder.site
          predicates:
            - Path=/api/v1/auth/**, /oauth2/**
          order: -1
        - id: storage-route
          uri: lb://${network.services.storage.name}
          predicates:
            - Host=cdn.platformholder.site
        - id: forest
          uri: lb://${network.services.forest.name}
          predicates:
            - Host=forest.platformholder.site
        - id: mirror-view
          uri: lb://${network.services.mv.name}
          predicates:
            - Host=mirror-view.platformholder.site
        # Swagger API Docs 프록시 라우팅
        - id: swagger-api-docs-auth
          uri: lb://${network.services.auth.name}
          predicates:
            - Path=/v3/api-docs/auth/**
          filters:
            - RewritePath=/v3/api-docs/auth(?<segment>.*), /v3/api-docs${segment}
            - SetRequestHeader=Host, auth.platformholder.site
        - id: swagger-api-docs-bbr
          uri: lb://${network.services.bbr.name}
          predicates:
            - Path=/v3/api-docs/bbr/**
          filters:
            - RewritePath=/v3/api-docs/bbr(?<segment>.*), /v3/api-docs${segment}
        - id: swagger-api-docs-fmp
          uri: lb://${network.services.fmp.name}
          predicates:
            - Path=/v3/api-docs/fmp/**
          filters:
            - RewritePath=/v3/api-docs/fmp(?<segment>.*), /v3/api-docs${segment}
        - id: swagger-api-docs-forest
          uri: lb://${network.services.forest.name}
          predicates:
            - Path=/v3/api-docs/forest/**
          filters:
            - RewritePath=/v3/api-docs/forest(?<segment>.*), /v3/api-docs${segment}
        - id: swagger-api-docs-mv
          uri: lb://${network.services.mv.name}
          predicates:
            - Path=/v3/api-docs/mv/**
          filters:
            - RewritePath=/v3/api-docs/mv(?<segment>.*), /v3/api-docs${segment}
  #        - id: test
#          uri: grpc://${network.services.auth.host  }:9090
#          predicates:
#            - Path=/test/**
#          filters:
#            - name: CustomJsonToGrpcFilter
#              args:
#                protoDescriptor: classpath:proto/test.pb
#                protoFile: classpath:proto/test.proto
#                service: GrpcTestService
#                method: GrpcTest
  profiles:
    active: dev
network:
  services:
    bbr:
      host: ${BBR_HOST:bbr}
      name: ${BBR_NAME:bbr}
    fmp:
      host: ${FMP_HOST:fmp}
      name: ${FMP_NAME:fmp}
    auth:
      host: ${AUTH_HOST:localhost}
      name: ${AUTH_NAME:auth}
    storage:
      host: ${STORAGE_HOST}
      name: ${STORAGE_NAME}
    forest:
      host: ${FOREST_HOST}
      name: ${FOREST_NAME}
    mv:
      host: ${MV_HOST}
      name: ${MV_NAME}
    port: ${SERVICE_PORT:8080}
logging:
  level:
    org.woo.gateway: INFO

management:
  metrics:
    tags:
      application: ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

eureka:
  client:
    register-with-eureka: false
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    registry-fetch-interval-seconds: 5
  instance:
    lease-expiration-duration-in-seconds: 20
    lease-renewal-interval-in-seconds: 10

server:
  http2:
    enabled: true
#  port: 8081

# Swagger 설정
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: Auth Service
        url: /v3/api-docs/auth
      - name: BBR Service
        url: /v3/api-docs/bbr
      - name: FMP Service
        url: /v3/api-docs/fmp
      - name: Forest Service
        url: /v3/api-docs/forest
      - name: Mirror View Service
        url: /v3/api-docs/mv

gateway:
  swagger:
    enabled: ${SWAGGER_ENABLED:true}

grpc:
  client:
    GLOBAL:
      negotiation-type: plaintext
